#studyView .box {
	width: 960px;
	height: 20px;
	border: 1px solid #006dba;
	margin-bottom: 20px;
	padding-top: 5px;
	overflow: hidden;

	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #006dba;

	padding: 5px;
}

#studyView .waitForLoad {
	background: url(../images/ajaxflow/ajax-loader.gif) no-repeat center top;
}

#studyView .updating {
	background: url(../images/spinner.gif) no-repeat right top;
}

/** begin :: changed **/
#studyView changed {
	display: block;
	background: url(../images/bluebadge-50x50.png) no-repeat right top;
	width: 50px;
	height: 50px;
	position: absolute;
	margin-left: 945px;
	margin-top: -25px;
	opacity: 0;
}

#studyView changed value {
	display: block;
	color: #fff;
	font-size: 14pt;
	text-align: center;
	width: inherit;
	padding-top: 14px;
}
/** end :: changed **/

/** begin :: generics **/
#studyView element {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	width: auto;
	min-height: 20px;
	margin-bottom: 5px;
}

#studyView element value {
	display: inline-block;
	min-width: 100px;
	min-height: inherit;

	vertical-align: top;

	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #87cefa;
}

#studyView elementheader {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	width: auto;
	min-height: 20px;
	margin-bottom: 5px;
	background-color: #d2eeff;
}

#studyView elementheader value {
	display: inline-block;
	min-width: 100px;
	min-height: inherit;
	max-width: 100px;
	max-height: 40px;
	overflow: hidden;
	background-color: #87cefa;
	color: #fff;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.68);

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;

	vertical-align: middle;
	text-align: center;

	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #003764;
}

#studyView element .highlight {
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px dashed #ffb6c1;

	transition: all 0.3s ease-in-out 0s;
}

#studyView element .editting {
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #90ee90;

	transition: all 0.5s ease-in-out 0s;
}

#studyView element input, #studyView element textarea {
	border: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	/*font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
	/*font-size: 10pt;*/
	font-weight: 100;
	letter-spacing: 1px;
	background-color: transparent;
}

#studyView element textarea {
	width: 400px;
	height: 40px;
}

#studyView element select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	/*font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
	border: none;
	background-color: transparent;
}

#studyView warning {
	display: inline-block;
	background-color: #f7dbe0;
	color: red;
	width: 80%;
	margin-left: 10%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-bottom: 20px;

	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px dashed red;

	text-shadow: 0 1px 0px rgba(0, 0, 0, 0.68);
}
/** end :: generics **/

/** begin :: horizontal view **/
#studyView element .horizontal, #studyView element .horizontal input {
	/** empty for now **/
	overflow: hidden;
	max-width: 100px;
	max-height: 40px;
}
#studyView element .horizontal select {
	width: 120px;
}
/** end :: horizontal view **/

/** begin :: vertical view **/
#studyView element .vertical {
	white-space: normal;
	max-width: 752px;
}
#studyView element description {
	display: inline-block;
	vertical-align: top;
	min-width: 100px;
	min-height: inherit;
	width: 200px;
	color: #006dba;
}
/** begin :: vertical view **/

/** begin :: tipTip extensions **/
#tiptip_holder #tiptip_content error {
	color: #f0c2b3;
	display: block;
}

#tiptip_holder #tiptip_content error:before {
	content:url(../plugins/famfamfam-1.0.1/images/icons/exclamation.png);
	padding-right: 10px;
}

#tiptip_holder #tiptip_content comment {
	font-style: italic;
	display: block;
	padding-top: 10px;
}

#tiptip_holder #tiptip_content comment:before {
	content:url(../plugins/famfamfam-1.0.1/images/icons/information.png);
	padding-right: 10px;
}

#tiptip_holder #tiptip_content undo {
	font-style: italic;
	color: #97daea;
	display: block;
	padding-top: 10px;
	vertical-align: top;
}

#tiptip_holder #tiptip_content undo:before {
	content:url(../plugins/famfamfam-1.0.1/images/icons/arrow_undo.png);
	padding-right: 10px;
}
/** end :: tipTip extensions **/

/** start :: debug **/
#studyView element debug {
	display: inline-block;
	background-color: #dbf7e2;
	color: #799c4b;
	float: right;
	width: 75px;
	text-align: right;
	margin-left: -100px;
	margin-top: 0px;
	min-height: inherit;

	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px dashed #799c4b;

	text-shadow: 0 1px 0px rgba(0, 0, 0, 0.68);
}
/** stop :: debug **/